*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid-container{
    padding: 10px;
    min-height: 100vh;
    background-color: antiquewhite;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 10px;
    
}

.header,.main,.footer {

   
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    font-size: 2rem;border: rgb(128, 33, 216);
    
}
.main{
    padding: 10px;
}